* {
	font-family: 'Roboto', sans-serif;
	font-family: 'Roboto Slab', serif;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding-bottom: 300px;
	background-color: url(img/title_img.jpg) center/cover no-repeat;
}

a:hover {
background-color: bisque;
border-bottom: 1px solid;
}


.container {
	margin: 0 auto;
	max-width: fit-content;
	background: url("img/title_img.jpg") center/cover no-repeat;
	background-attachment: fixed;;
}

hr {
	max-width: 800px;
	margin: 0 auto;
	border: 2px solid rgb(255, 145, 0)
}

.recommendations__title,
.recommendatins__beginning,
.name__title,
.planter__title,
.photos__title {
	text-align: center;
}

.review__form {
    background-color: antiquewhite;
    border: 4px solid var(--color-orange);
	border-radius: 10px;
	max-width: 600px;
	padding: 25px;
	margin: 0 auto;
	box-shadow: 8px 8px 8px 0 rgb(129, 50, 4);
	display: flex;
	flex-direction: column;
	row-gap: 5px;
} 

.recommendations_article {
	height: 500px;
	width: fit-content;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: auto;
	margin: 0 auto;
	column-gap: 10px;
}

.recommendations_article_image {
	width: 250px;
	height: auto;
	background: url("img/the_dutch_house.jpg") center/cover no-repeat;
	margin-bottom: 10px;
}

.recommendetions_article_description {
	width: 400px;
}

.name_article {
	height: 500px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: auto;
	margin: 0 auto;
	column-gap: 10px;
}

.name_article_image {
	width: 250px;
	height: auto;
	background: url("img/No_Longer_Human_cover.jpg") center/cover no-repeat;
	margin-bottom: 10px;
}

.name_article_description {
	width: 400px;
}

.planter_article {
	height: 500px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 1200px;
	margin: 0 auto;
	column-gap: 10px;
}

.planter_article_image {
	width: 250px;
	height: auto;
	background: url("img/tea_planter.jpg") center/cover no-repeat;
	margin-bottom: 10px;
}

.planter_article_description {
	width: 400px;
}


.photos {
	width: auto;
}

.photos__container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	row-gap: 20px;
}

.photos__container_photo {
	width: 360px;
	height: 150px;
}

.photos__container_photo_element_1 {
	background: url("img/1.jpg") center/cover no-repeat;
}

.photos__container_photo_element_2 {
	background: url("img/2.jpg") center/cover no-repeat;
}

.photos__container_photo_element_3 {
	background: url("img/4.jpg") center/cover no-repeat;
}

.photos__container_photo_element_4 {
	background: url("img/3.jpg") center/cover no-repeat;
}

.photos__container_photo_element_5 {
	background: url("img/5.jpg") center/cover no-repeat;
}

.photos__container_photo_element_6 {
	background: url("img/6.jpg") center/cover no-repeat;
}

.up_button {
	width: 100px;
	height: 50px;
	background-color: rgba(200, 47, 214, 0.322);
	border: 2px solid var(--color-orange);
	border-radius: 5px;
	position: fixed;
	right: 20px;
	top: 90%;
	text-align: center;
	transition: all 1s ease-in-out;
}

.topbutton {
	width:100px;
	border:2px solid #ccc;
	background:#f7f7f7;
	text-align:center;
	padding:10px;
	position:fixed;
	bottom:50px;
	right:50px;
	cursor:pointer;
	color:#333;
	font-family:verdana;
	font-size:12px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	}

	footer{
		background-color: url(img/title_img.jpg) center/cover no-repeat;
		width: 1200px;
		border: 1px solid plum;
		padding: 10px;
		margin: 5px auto;
	}
	
	.field{
		clear: both;
		text-align: right;
	}
	
	.linkedinicon{
		width: 40px;
		height: auto;
	}
	.github{
		width: 40px;
		height: auto;
	}
	
	footer{
		padding: 20px;
	}
